
body{
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    color: black;
    background-color: rgb(211, 209, 200);
}
 .nav{
     min-height: 70px;
     color:rgb(48, 13, 13);
     background-color:  skyblue;
 }


 .heading{
   padding: 10px 0px 0px 20px ;
   border: none;
 }

 .banner{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.names{color: gray;
margin: 20px 10px 20px 10px;}

.names:hover{color:brown}